.product{
    margin: 5px;
    max-width: 200px;
    overflow: hidden;
}
.edit{
    position: relative;
    top:30px;
    left: 180px;
    z-index: 2;
    cursor: pointer ;
}
.popover{
    width: 70px;
    cursor: pointer
}